<form method="post" class="reply" id="contact">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <fieldset>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
              <div class="row">
                <div class="col-md-12">
                  <input type= 'hidden' name = 'collected_info' value='<%="#{@movie} |; #{@theater_address} |; #{@time} |; #{@restaurant} |; #{@restaurant_address}"%>'>
                  <input class="form-control" id="name" name="name" type="text" placeholder="Name" value="" required>

              </div>

              <div class="col-md-12">
                  <input class="form-control" type="email" id="email" name="email" placeholder="Email" value="">
              </div>
              <div class="col-md-12">
                  <input class="form-control" type="phone" id="phone" name="phone" placeholder="Phone Number" value="">
              </div>
          </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control" id="text" name="text" rows="10" cols="40" placeholder="Your Message" value=""required>Your 4DAYSOUT&copy; Itinerary: Eating at <%=@restaurant%> (<%=@restaurant_address%>) Showtime: <%=@movie%> at <%=@time%>, at <%=@theater_address%></textarea>
          </div>
      </div>
  </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 wow fadeInUp">
      <button type="submit" class="btn btn-2 btn-2c">Send</button>
      <div class="success alert-success alert" style="display:none">Your message has been sent successfully.</div>
      <div class="error alert-danger alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
  </div>
</div>
</fieldset>
</form>