 <!-- Header -->
            <header id="section1" class="parallax-slider">
                  <!-- Navigation -->
                  <div id="navigation">
                        <nav class="navbar navbar-custom cl-effect-21" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-2 mob-logo">
                                                <div class="row">
                                                      <div class="site-logo">
                                                            <a href="index-image-slider.html"><img src="img/logo.png" alt="Agency"></a>
                                                      </div>
                                                </div>
                                          </div>
                                          

                                          <div class="col-md-10 mob-menu">
                                                <div class="row">
                                                      <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>

                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav navbar-right">
                                                                  <li class="active"><a href="#section1">Home</a></li>
                                                                  <li><a href="#section2">About Us</a></li>
                                                                  <li><a href="#section3">Portfolio</a></li>
                                                                  <li><a href="#section4">Services</a></li>
                                                                  <li><a href="#section5">Clients</a></li>
                                                                  <li><a href="#section6">Pricing</a></li>
                                                                  <li class="dropdown nav-toggle">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                                                                        <ul class="dropdown-menu">
                                                                              <li><a class="external" href="blog.html">Blog</a></li>
                                                                              <li><a class="external" href="blog-big.html">Blog Large</a></li>
                                                                              <li><a class="external" href="single-post.html">Single Page</a></li>
                                                                        </ul>
                                                                  </li>
                                                                  <li><a href="#section7">Contact</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
                  </div> 
                  <!-- /Navigation -->                          
            </header>
            <!-- /Header -->
            
                 <div class="contact-form">
                        <div class="container">
                              <!-- Title row -->
                              <div class="row">
                                    <div class="col-md-12 big-title wow bounceIn">
                                          <h2>This is the confirmation page!</h2>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12 sub-title text-center wow slideInRight">
                                          <h3>You'll be having dinner at <%= @restaurant %>, located at <%=@restaurant_address%>, and seeing <%= @movie%>, located at <%=@theater_address%> at <%=@time%> </h3>
                                    </div>
                              </div>
                              <!-- /Title row -->

                              
                        </div>
                  </div>
                  <!-- /Contact form -->

                  <!-- Google Map -->
                  <div class="map-wrap">
                        <div class="wow fadeInUp">
                              <div id="maps" class="google-maps">
                              </div>
                        </div>
                  </div>
                  <!-- /Google Map -->

                  <footer class="footer-wrap text-center">
                        <div class="container">
                              <ul class="social social-icons-footer-bottom wow fadeInDown">
                                    <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="dribbble"><a href="#" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
                                    <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                     <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
                              </ul>

                              <p class="site-info wow fadeInUp"> © 2014 FifoThemes</p>
                        </div>
                  </footer>
            </section>
            <!-- /Section 7 -->

            <!-- Scroll To Top --> 
            <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>      
      </div>
      <!-- /Warpper -->

      

      <!-- The Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery-migrate-1.0.0.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.parallax.js"></script>
      <script src="js/jquery.hparallax.js"></script>
      <script src="js/jquery.wait.js"></script> 
      <script src="js/appear.js"></script>
      <script src="js/fappear.js"></script>  
      <script src="js/modernizr-2.6.2.min.js"></script>
      <script src="js/jquery.bxslider.min.js"></script>
      <script src="js/jquery.maximage.js"></script>
      <script src="js/jquery.cycle.all.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/jquery.sticky.js"></script>
      <script src="js/jquery.isotope.js"></script>
      <script src="js/imagesloaded.pkgd.min.js"></script>
      <script src="js/jquery.countTo.js"></script>
      <script src="js/skrollr.min.js"></script>
      <script src="js/jquery.scrollTo.min.js"></script>
      <script src="js/wow.js"></script>
      <script src="js/jquery.nav.js"></script>
      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <script src="js/jquery.gmap.min.js"></script>
      <script src="js/jquery.mb.YTPlayer.js"></script>
      <script src="js/tytabs.js"></script>
      <script src="js/custom.js"></script>


