
<%= form_tag("/restaurants", :method => :get) do %>
  <% @theaters_array.each do |theater|%>
     <h3>Theater:</h3>
     <%= theater[:name]%><br>
    <%= theater[:number]%><br>
    <%= theater[:address]%><br>
      <h4>Movies:</h4>
      <ol><% theater[:movies].each do |movie|%>
        <li><%= movie[:title] %> | <%= movie[:movie_info] %></li>
           <% movie[:run_times].each do |time| %>
               
                  <input type="radio" name="collected_info" value='<%=movie[:title]%> |; <%=theater[:address]%> |; <%=time%>'>  <%= time%> | 
                
              <%end%>
            
      <% end %>
      
      </ol>
      <br>
  <% end %>


    <%= submit_tag 'Submit', class: 'subscribe-btn' %>
<%end%>
</center>
