<h1>Theaters and Movie Times in <%= @zipcode %>:</h1>


<%= form_tag("/restaurants") do %>
  <ul><% @movie_data.each do |theater|%>
    <h3>Theater:</h3>
    <li><%= theater[:name]%></li>
    <li><%= theater[:info]%></li>
      <h4>Movies:</h4>
      <ol><% theater[:movies].each do |movie|%>
<<<<<<< HEAD
        <li><%= movie %></li>
=======
        <li><%= movie%></li>
        <input type="radio" name="movie_name" value='<%="#{movie}"%>'>
>>>>>>> 89ca6c1f42121d930c66ea2428ae1113619c157d
      <% end %>
      </ol>
  <% end %>
</ul>
	  <%= submit_tag 'Submit' %>
<%end%>
