<h1>Theaters and Movie Times in <%= @zipcode %>:</h1>


<%= form_tag("/restaurants") do %>
  <ul><% @movie_data.each do |theater|%>
    <h3>Theater:</h3>
    <li><%= theater[:name]%></li>
    <li><%= theater[:info]%></li>
      <h4>Movies:</h4>
      <ol><% theater[:movies].each do |movie|%>
        <li><%= movie%></li>
        <input type="radio" name="movie_name" value='<%="#{movie}"%>'>
      <% end %>
      </ol>
  <% end %>
</ul>
	<input type="radio" name="movie_name" value='<%="The Matrix 3: Are We Still Doing This?"%>'><%="The Matrix 3"%>
	  <%= submit_tag 'Submit' %>
<%end%>
