<%= form_tag("/restaurants") do %>
  <ul><% @movie_data.each do |theater|%>
    <li><%= theater[:name]%></li>
    <li><%= theater[:info]%></li>
      <ol><% theater[:movies].each do |movie|%>
        <li><%= movie%></li>
      <% end %>
      </ol>
  <% end %>
</ul>
	<input type="radio" name="movie_name" value='<%="The Matrix 3: Are We Still Doing This?"%>'><%="The Matrix 3"%>
	  <%= submit_tag 'Submit' %>
<%end%>
