
<h1>Theaters and Movie Times near <%= @zipcode %>:</h1>


<%= form_tag("/restaurants") do %>
  <ul><% @theaters_array.each do |theater|%>
    <h3>Theater:</h3>
    <li><%= theater[:name]%></li>
    <li><%= theater[:number]%></li>
    <li><%= theater[:address]%></li>

      <h4>Movies:</h4>
      <ol><% theater[:movies].each do |movie|%>
        <li><%= movie[:title] %></li>
           <ul><% movie[:run_times].each do |time| %>
              <li><input type="radio" name="movie_time" value='<%="#{time}"%>'><%= time%>
                <input id="theater_address" type="hidden" name="theater_address" value='<%"#{theater[:address]}"%>'>
                <input type="hidden" name="theater_name" value='<%"#{theater[:name]}"%>'>
                <input type="hidden" name="movie_name" value='<% "#{movie[:title]}"%>'>
              </li>
              <%end%>
            </ul>
      <% end %>
      </ol>
  <% end %>
</ul>
    <%= submit_tag 'Submit' %>
<%end%>