<h1>Restaurants near your theater:</h1>

<p>What will you have for dinner after seeing <%=@movie%>?</p>

<%= form_tag ("/confirmations"), :method => :get do %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Rating</th>
      <th>Phone Number</th>
      <th>Address</th>
  </thead>    

<tbody>
<% @restaurants_near_theater["businesses"].each do |restaurant|%>
  <tr>
    <td><input type="radio" name="collected_info" value='<%="#{@movie} |; #{@theater_address} |; #{@time} |; #{restaurant["name"]} |; #{restaurant["location"]["display_address"]}"%>'><%="#{restaurant["name"]}"%></td>
    <td><%cuisine = "" %><% restaurant["categories"].each do |tag|%>
          <%cuisine << "#{tag[0]}, " %>
          <%end%>
          <%= cuisine[0..-3] %></td>
        <td><%= restaurant["rating"] %></td>
        <td><%= restaurant["display_phone"] %> </td>
        <td><%= restaurant["location"]["display_address"][0] %> </td>
  </tr>
<% end %>
</tbody>
</table>
<%= submit_tag 'Submit' %>
<% end %>
