<h1>Restaurants near your theater:</h1>

<p> What will you have for dinner after seeing <%= @movie%>?</p>
<%= form_tag ("/restaurants/show") do %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Rating</th>
      <th>Phone Number</th>
      <th>Address</th>
      
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><input type="radio" name="restaurant_name" value='<%="#{restaurant["name"]}"%>'><%="#{restaurant["name"]}"%></td>
        <td><% restaurant["categories"].each do |tag|%>
          <%= "#{tag[0]}, " %>
          <%end%> </td>
        <td><%= restaurant["rating"] %></td>
        <td><%= restaurant["display_phone"] %> </td>
        <td><%= restaurant["location"]["display_address"][0] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag 'Submit' %>
<% end %>

