 <!-- Header -->
   <header id="section1" class="parallax-slider">
    <!-- Navigation -->
    <div id="navigation">
      <nav class="navbar navbar-custom cl-effect-21" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-2 mob-logo">
              <div class="row">
                <div class="site-logo">
                  <a href="/home"><%= image_tag "custom_header_logo.png" %></a>
              </div>
          </div>
      </div>

      <div class="col-md-10 mob-menu">
          <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                  <i class="fa fa-bars"></i>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Movies</a></li>
                <li><a href="#">Restaurants</a></li>
                <li class="active"><a href="#">Confirmation</a></li>
                <li><a href="/about">About Us</a></li>
              </ul>
          </div>
        <!-- /.Navbar-collapse -->
  </div>
  </div>
  </div>
  </div>
  <!-- /.container -->
  </nav>
  </div> 
  <!-- /Navigation -->                          
  </header>
<!-- /Header -->





<!-- Confirmation Form -->
<div class="contact-form">
    <div class="container">
  <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>Looks like a great date!</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>You and your date will be having a meal at <%= @restaurant %> located at <%=@restaurant_address%>, and seeing <%= @movie%> at <%=@time%> at <%= @theater_name %> located at <%=@theater_address%>.</h3>
      </div>
  </div><br>
  <!-- /Title row -->

  <!-- Form element row -->
  <div class="row text-center">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <%= render 'form' %>
      <br>
      <br>
    </div>

  <div class="col-md-2"></div>
  </div>
  <!-- /Form element row -->
</div>
</div>
<!-- /Confirmation Form -->

<!-- Google Map -->
      <div class="map-embed">
      <br>
              <iframe
                width=100%
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCIXP8fqFQ1wOecJHetYqgyASx6tYb8KkM&origin=<%=@restaurant_address%>&destination=<%=@theater_address%>">
              </iframe>
      </div>
<!-- /Google Map -->

<footer class="footer-wrap text-center">
      <div class="container">
            <p class="site-info wow fadeInUp"> 
              <div>Built with &#9829; at <a class="flatiron-link" href="http://flatironschool.com/">The Flatiron School</a> by NYC Web Development Fellows, &copy; 2014</div>
      </div>
</footer>
