 <!-- Header -->
   <header id="section1" class="parallax-slider">
    <!-- Navigation -->
    <div id="navigation">
      <nav class="navbar navbar-custom cl-effect-21" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-2 mob-logo">
              <div class="row">
                <div class="site-logo">
                  <a href="/home"><%= image_tag "custom_header_logo.png" %></a>
              </div>
          </div>
      </div>


      <div class="col-md-10 mob-menu">
          <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                  <i class="fa fa-bars"></i>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Movies</a></li>
                <li><a href="#">Restaurants</a></li>
                <li class="active"><a href="#">Confirmation</a></li>
            </ul>
        </div>
        <!-- /.Navbar-collapse -->
  </div>
  </div>
  </div>
  </div>
  <!-- /.container -->
  </nav>
  </div> 
  <!-- /Navigation -->                          
  </header>
<!-- /Header -->


<!-- Agency team -->
                  <div class="team-wrap">
                        <div class="container">
                              <!-- Title row -->
                              <div class="row">
                                    <div class="col-md-12 big-title wow bounceIn">
                                          <h2>4DaysOut Team</h2>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12 sub-title text-center wow slideInRight">
                                          <h3>Get to know the talented developers behind 4DaysOut</h3><br><br>
                                    </div>
                              </div>
                              <!-- /Title row -->

                              <!-- Team members row 1-->
                              <div class="row">
                                    <!-- item 1 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInLeft">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                           <!--  <img alt="" src="../app/assets/images/edward_jasper_index_profile.jpg"> -->
                                                           <%= image_tag "christine_beaubrun_index_profile.jpg" %>
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="team-member-links-item" href="http://christinebeaubrun.tumblr.com/"><i class="fa fa-tumblr"></i></a>
                                                                        <a target="_blank" class="team-member-links-item" href="http://github.com/christinebeaubrun"><i class="fa fa-github"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="http://twitter.com/chrisbeaubrun"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="http://linkedin.com/in/christinebeaubrun/"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              "First, solve the problem. Then, write the code" -- John Johnson.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Christine Beaubrun</h4>  
                                                            <div class="team-member-role">
                                                            CCO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 2 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <%= image_tag "edward_jasper_index_profile.jpg" %>
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="team-member-links-item" href="http://codeandthecity.com/"><i class="fa fa-wordpress"></i></a>
                                                                        <a target="_blank" class="team-member-links-item" href="http://github.com/jasperknowsbest"><i class="fa fa-github"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="http://twitter.com/jasperknowsbest"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="http://www.linkedin.com/in/edwardleonjasperjr"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Former personal trainer to coder. I eat code as a pre-workout. Now, drop and give me 100.times{puts"Pushups"}!!!!
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Edward Jasper </h4>
                                                            <div class="team-member-role">
                                                                  CMO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 3 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <%= image_tag "katherine_brender_index_profile.jpg" %>
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="team-member-links-item" href="http://rsoph.tumblr.com/"><i class="fa fa-tumblr"></i></a>
                                                                        <a target="_blank" class="team-member-links-item" href="http://github.com/RSoph"><i class="fa fa-github"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="http://twitter.com/KateBrender"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="http://linkedin.com/pub/kate-brender/31/122/413"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Now with karate-chop action. And coding.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Kate Brender</h4>
                                                            <div class="team-member-role">
                                                                  CEO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 4 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInRight">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <%= image_tag "robert_horrigan_index_profile.jpg" %>
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="team-member-links-item" href="http://rob-on-rails.com/"><i class="fa fa-wordpress"></i></a>
                                                                        <a target="_blank" class="team-member-links-item" href="http://github.com/laxrph10"><i class="fa fa-github"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="http://twitter.com/rob_on_rails"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="http://www.linkedin.com/profile/view?id=295675960"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Former Military Officer. <br>Future Code Warrior.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Robert Horrigan</h4>
                                                            <div class="team-member-role">
                                                                  CTO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                              </div>
                              <!-- /Team members row 1-->
                        </div>
                  </div>
                  <!-- /Agency team -->
