<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "/assets/customlogo_bw.png" %>
  <title>Datenight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
  <link rel="shortcut icon" href="img/ico/favicon.ico">
  <link rel="apple-touch-icon" href="img/ico/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-touch-icon-144.png">

</head>
<body>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <%= render partial: "shared/flash_messages", flash: flash %> 
  <%= yield %>
</body>
</html>
